.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 55px auto;
  max-width: $page-max-width;
  font-size: $small-font;

  @include breakpoint(phablet) {
    padding: 0 20px;
  }

  @include breakpoint(mobileonly) {
    justify-content: center;
  }
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  color: $dark-blue;

  @include breakpoint(mobileonly) {
    justify-content: center;
  }
}

.footer-item {
  padding: 8px;
  cursor: pointer;
}

.footer-copy {
  padding: 8px;
  color: $dark-grey;
}
