.feed-item {
  margin-top: 60px;
  width: 100%;
  @include boxBorder(yes);
}

.feed-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.creator {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  line-height: 1.25;

  &-photo {
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-name {
    font-weight: 600;
  }

  &-location {
    font-size: $small-font;
    color: #262626;
  }
}

.feed-image {
  img {
    max-width: initial;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.feed-extra {
  padding: 0 16px;
}
